body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: lightblue;
}

input {
    width: 200px;
    height: 50px;
}

button {
    width: 200px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: "solid: 2px black";
}
